---
const { name = 'Ellis McDougald', subtitle = 'Software Engineer' } = Astro.props;
---
<header class="header">
  <div>
    <h1 class="name">{name}</h1>
    <div class="title">{subtitle}</div>
  </div>
</header>